<h1>New dialogix_user</h1>

<%= error_messages_for :dialogix_user %>

<% form_for(@dialogix_user) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', dialogix_users_path %>
