<h1>New v1_data_element</h1>

<%= error_messages_for :v1_data_element %>

<% form_for(@v1_data_element) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', v1_data_elements_path %>
