<h1>Editing v1_page_usage</h1>

<%= error_messages_for :v1_page_usage %>

<% form_for(@v1_page_usage) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @v1_page_usage %> |
<%= link_to 'Back', v1_page_usages_path %>
