<h1>Editing v1_instrument_session</h1>

<%= error_messages_for :v1_instrument_session %>

<% form_for(@v1_instrument_session) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @v1_instrument_session %> |
<%= link_to 'Back', v1_instrument_sessions_path %>
