<h1>Listing instrument_sessions</h1>

<table>
  <tr>
  </tr>

<% for instrument_session in @instrument_sessions %>
  <tr>
    <td><%= link_to 'Show', instrument_session %></td>
    <td><%= link_to 'Edit', edit_instrument_session_path(instrument_session) %></td>
    <td><%= link_to 'Destroy', instrument_session, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New instrument_session', new_instrument_session_path %>
