<h1>New instrument_session</h1>

<%= error_messages_for :instrument_session %>

<% form_for(@instrument_session) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instrument_sessions_path %>
