<h1>New question_localized</h1>

<%= error_messages_for :question_localized %>

<% form_for(@question_localized) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', question_localizeds_path %>
