<ol class="form" <%= 'style="display: none;"' if columns.collapsed -%>>
  <% columns.each :for => @record do |column| -%>
  
  <li class="form-element <%= 'required' if column.required? %>">
    <%= render :partial => form_partial_for_column(column), :locals => { :column => column } -%>
  </li>
 
  <% end -%>
</ol>