<h1>New instrument_content</h1>

<%= error_messages_for :instrument_content %>

<% form_for(@instrument_content) do |f| %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', instrument_contents_path %>
